.presentation {
  color: #ff6060;
  display: flex;
  flex-direction: column;
}

.lodgingPresentation h1 {
  font-size: 18px;
  margin: 0;
}

.location {
  padding: 0;
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.lodgingPresentation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.lodgingPresentation li {
  width: 100%;
  height: 18px;
  background: #ff6060;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  font-size: 10px;
  margin: 0 4px;
  padding: 0;
}

.starsAndHost {
  display: flex;
  justify-content: space-between;
}

.stars {
  margin: 20px 0;
}

.stars img {
  width: 15px;
  height: 15px;
}

.host {
  display: flex;
  align-items: center;
}

.host p {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-right: 10.5px;
}

.lastName {
  display: flex;
  justify-content: flex-end;
}

.host img {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

@media screen and (min-width: 1024px) {
  .presentation {
    flex-direction: inherit;
    justify-content: space-between;
  }

  .lodgingPresentation h1 {
    font-size: 36px;
  }

  .location {
    font-size: 18px;
  }

  .lodgingPresentation li {
    height: 25px;
    border-radius: 10px;
  }

  .list {
    font-size: 14px;
    margin: 0 10px;
  }

  .starsAndHost {
    flex-direction: column-reverse;
  }

  .stars img {
    width: 30px;
    height: 30px;
  }

  .host p {
    font-size: 18px;
  }

  .host img {
    width: 64px;
    height: 64px;
  }
}
