.footer {
  background-color: black;
  margin-top: 50px;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kasa-logoWhite {
  width: 122px;
  height: 39.44px;
  margin-bottom: 28.56px;
}

.kasa-2020 {
  width: 513px;
  height: 46px;
}

@media screen and (max-width: 635px) {
  .kasa-2020 {
    width: 205px;
    height: 16px;
  }
}
