header {
  display: flex;
  justify-content: space-between;
  color: #ff6060;
  margin: 0 100px 0 100px;
}

.kasa-logo {
  height: 68px;
  width: 210.32px;
  margin: 40px 0 63px 0;
}

.kasa-nav {
  margin: 57px 0 80px 0;
}

.kasa-nav a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
}

.kasa-link-Apropos {
  margin-left: 57px;
}

@media screen and (max-width: 1024px) {
  header {
    margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 635px) {
  .kasa-nav {
    margin: 38px 0 28px 0;
  }

  .kasa-nav a {
    font-size: 12px;
    margin-left: 10px;
  }

  .kasa-logo {
    height: 47px;
    width: 145px;
    margin: 20px 0 16px 0;
  }
}
