.kasa-lodgingList {
  background-color: #f6f6f6;
  margin-top: 43px;
  border-radius: 25px;
  padding: 56px 50px;
}

@media screen and (max-width: 635px) {
  .kasa-lodgingList {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
