.kasa-lodgingList {
  margin-top: 43px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .kasa-lodgingList {
    background-color: #f6f6f6;

    padding: 56px 50px;

    width: 100%;
  }
}
