.kasa-lodging-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 43px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .kasa-lodging-list {
    background-color: #f6f6f6;

    padding: 56px 0;

    width: 100%;
  }
}
